<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <main>
      <h1>Message Board</h1>
      <section>
        <% messages.forEach(msg => { %>
        <article>
          <p><%= msg.text %></p>
          <p><%= msg.user %></p>
          <p><%= msg.added %></p>
          <a href="/detail/<%= encodeURIComponent(msg.id) %>">Open</a>
        </article>
        <% }) %>
      </section>
    </main>
  </body>
</html>
